.create-post-form {
    background-color: #c5c5f0;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 350px;
    margin-top: 70px;
}

.create-post-form h2 {
    color: #8a2be2;
    text-align: center;
    margin-bottom: 20px;
}

.create-post-form .form-group {
    margin-bottom: 15px;
}

.create-post-form .form-group label {
    display: block;
    color: #6c3483;
    margin-bottom: 5px;
}

.create-post-form .form-group input,
.create-post-form .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #6c3483;
    border-radius: 5px;
    box-sizing: border-box;
}

.create-post-form .form-group textarea {
    resize: none;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
    margin-left: 10px;
}

.btn-1 {
    background: rgb(96, 9, 240);
    background: linear-gradient(0deg, rgba(96, 9, 240, 1) 0%, rgba(129, 5, 240, 1) 100%);
    border: none;
    margin-top: 10px;
}

.btn-1:before {
    height: 0%;
    width: 2px;
}

.btn-1:hover {
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
        -4px -4px 6px 0 rgba(116, 125, 136, .5),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}
/* Add margin to create gap between buttons */
.custom-btn + .custom-btn {
    margin-left: 10px; /* Adjust as needed */
}
